
<div class="container">

  <div class="row">
    <div class="newPost" id="tela-login">
      
      <div class="infoUser">
          <!--Pagina pessoal do usuario na paigina inicial-->
      <div class="col-8">
          
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control " id="titulo" placeholder="Digite o titulo">
        </div>
        <div class="form-group">
          <label for="texto">Publicacao</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="buttons d-flex justify-content-end">
          <button type="submit" class="btn btn-light border-success ">Enviar</button> 
        </div>
      </div>
    </div>
  
     <div class="col-4">

     </div>   
  </div>
</div>

 <!--
<header>
  <img src="/MeToo_FrontEnd/MeToo/metoo/src/assets/img/Home.svg" alt="">
</header>

<main class="main">
  <div class="newPost">
    <div class="infoUser">
      <div class="imgUser"></div>
      <strong>Robson Carmo</strong>
    </div>


 
    <form action="" class="formPost">
      <textarea name="textarea" id="" placeholder="O que vamos expressar hoje?"></textarea>

      <div class="iconAndButton">
        <div class="icons">
          <button><img src="" alt=""></button>
        </div>

        <button type="button" class="btn btn-outline-primary">Enviar</button>
      </div>
    </form>

   
  </div>
</main>-->