@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Merienda&family=Poiret+One&family=Poppins:wght@100;300&family=Red+Hat+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
  margin: 0;
  padding: 10;

  box-sizing: border-box;


  font-family: 'Poppins', sans-serif;
  --webkit-font-smoothing: antialiased !important;
}

.bg-pi{
  background-image: url(https://i.imgur.com/45HPLFn.png);


  min-height: 350px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.lg-post {
  width: 80%;
}

div.infoUser {
  display: flex;
  align-items: center;
  justify-content:center;

}

div.imgUser {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333;

}

div.infoUser strong {
  font-size: 16px;
  margin-left: 10px;
  
}

.bg-menu-lateral {
  background-color: azure;
}

textarea {
  resize: none;
}


.bg-card{

  background-color:rgba(59, 227, 196, 0.42);
  

}

.btg-enviar{
background-color: grey ;
}

.btg-cancelar{

  background-color: rgba(243, 58, 74, 0.944);

}




hr {
  display: flex;
  flex-wrap: wrap;
  border-color: white;
  width: 10px;
  flex-basis: 25%;
}

