@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Merienda&family=Poiret+One&family=Poppins:wght@100;300&family=Red+Hat+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.fs-54{
  font-size: 54pt;
}

.fs-18{
  font-size: 18pt;
}



.fundo {
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(to bottom, yellow, rgb(87, 0, 128));
  font-weight: bold;
  text-align: center;
  color: black;
  }

  .fundo-2 {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background: linear-gradient(  rgb(87, 0, 128),yellow);
  cursor: pointer; /*muda o ponteiro em links*/
  list-style: none; /*retira a bolinha do topico*/ 
  color: black; 
      }
