<div class="container-fluid bg-atualizarTema">
  <div class="container">

    <div class="row d-flex justify-content-end">
      <div class="col-md-7 mt-5 mb-4 ">
        <h1 class=" text-center text-secondary">Atualizar Postagem</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-md-7">

        <form>
          <div class="form-group mt-3">
            <label for="exampleFormControlInput1 mb-2">Titulo</label>
            <input [(ngModel)]='postagem.titulo' type="email" class="form-control bx-form" placeholder="Titulo da Postagem">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1 mb-2" [(ngModel)]='idTema' (change)='findByIdTema()' >Tema</label>
            <select class="form-control bx-form" id="exampleFormControlSelect1">
               <option *ngFor='let item of listaTemas' value="{{item.id}}">
                {{item.publicacao}}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="exampleFormControlTextarea1 mb-2">Texto</label>
            <textarea [(ngModel)]='postagem.texto' class="form-control bx-form" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
        <div class="d-flex justify-content-end mb-5 mt-4">
          <button class="btn btn-outline-danger  mr-3" routerLink="/inicio">Cancelar</button>
          <button class="btn btn-outline-info "(click)='atualizar()' data-dismiss="modal">Atualizar</button>
        </div>

      </div>
    </div>

  </div>
</div>
