 <div class="container-fluid bg-abertura">

    <div class="row">
        <div class="col-6"></div>

        <div class="col-2">

            <div class="row ">
<a routerLink="/entrar" >
    <div class="card mt-abertura ">
        <div class="card-body justify-content-end bg-acess">
            <h4 class="card-subtitle mb-2 text-white text-center mt-2">Acessar ou criar conta</h4>
        </div>
    </div>
</a>                
            </div>

        </div>

        <div class="col-3">

            <div class="row ">
<a href="#desenvolvedores" >
    <div class="card ml-2 w-75 mt-abertura ">
        <div class="card-body justify-content-end bg-acess">
            <h4 class="card-subtitle mb-2 text-white text-center mt-2">Conheça o site e criadores </h4>
        </div>
    </div>
</a>
               
            </div>

        </div>
        <div class="col-1"></div>


    </div>
</div> 
