<div class="container-fluid bg-atualizarTema">
  <div class="container">

    <!--<div class="row d-flex justify-content-end">
      <div class="col-md-12 mt-5 mb-4 ">
        <h1 class=" text-center text-dark font-weight-bold">Apagar Postagem</h1>
      </div>
    </div>-->

    <div class="row d-flex justify-content-end ">
      <div class="col-md-12  mt-5 mb-5 ">
       <h4 class=" text-center text-dark font-weight-bold">
         Voce tem certeza que deseja apagar essa postagem?
       </h4>
      </div>
    </div>

    <div class="card bg-login lg-post ml-5 mb-3 bg-login02" style=border-radius:25px; >
      <div class="card-body text-secondary">
        <div class="infoUser">
          <div class="imgUser "></div>
          <strong>Robson Carmo</strong>
        </div>
        <h5 class="card-title mt-3 mb-3">Título da Postagem Minhas Postagens</h5>
        <h6 class="card-subtitle mb-2 text-dark mb-4">Tema da Postagem</h6>
        <p class="card-text mb-3">Texto da postagem! Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
       
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center mb-5">
        <button class="btn-outline-danger w-25 mr-3">Nao</button>
        <button class="btn-outline-info w-25 ">Sim</button>
      </div>
    </div>

  </div>
</div>