@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Merienda&family=Poiret+One&family=Poppins:wght@100;300&family=Red+Hat+Mono&display=swap');


.bg {
    background-image: url(https://i.imgur.com/vsh2qcK.png);

    min-height: 695px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#tela-login {
    width: 400px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 1px 5px 30px #e57272;*/

    /*background-color: #e57272;*/
    /*opacity: 0.7;*/

    background-image: linear-gradient(
          -45deg, 
          rgb(116, 159, 178) 0%, 
          rgb(154, 164, 212) 25%, 
          rgb(218, 137, 203) 51%, 
          rgb(197, 156, 215) 100%
    );  
    animation: AnimateBG 20s ease infinite;
    

}

/*.bg-login {
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px #e57272;
}*/

